<h1>Lista de Mascotas</h1>
<div class="row">
  <div class="col-sm-9"></div>
  <div class="col-sm-3">
    <a href="/CrearMascota" class="btn btn-block btn-success">
      Crear Mascota
    </a>
  </div>
</div>
<br>

<table class="table table-responsive">
  <tr>
    <th>Nombre</th>
    <th>Fecha de Nacimiento</th>
    <th>País de Nacimiento</th>
    <th>Raza</th>
    <th>Editar</th>
    <th>Borrar</th>
  </tr>
  <% for (var i=0; i<razas.length; i++) { %>
    <% for (var j=0; j<razas[i].mascotas.length; j++) { %>
      <tr>
        <td><%= razas[i].mascotas[j].nombre %></td>
        <td><%= razas[i].mascotas[j].fechaNacimiento %></td>
        <td><%= razas[i].mascotas[j].paisNacimiento %></td>
        <td><%= razas[i].nombre %></td>
        <td>
          <a href="/EditarMascota?id=<%= razas[i].mascotas[j].id %>" class="btn btn-info btn-block">Editar</a>
        </td>
        <td>
          <a href="/Mascota/BorrarMascota?id=<%= razas[i].mascotas[j].id %>" class="btn btn-danger btn-block">X</a>
        </td>
      </tr>
    <% } %>
  <% } %>
</table>
